include CMakeLists.txt
recursive-include src *
recursive-include pybind11 *
include parakeet/data/files/4v5d.cif
include parakeet/data/files/4v1w.cif
include parakeet/data/files/3jb9.cif
include parakeet/data/files/6qt9.cif
include parakeet/data/files/6z6u.pdb
include parakeet/data/files/water.cif
