[build-system]
requires = ["setuptools>=45", "setuptools_scm[toml]>=6.2", "cmake", "ninja", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
write_to = "src/parakeet/_version.py"
